## SQL and SQLite

### 1. SQLite3 in Python- Getting Started

### Step 1: Import the sqlite3 module

In [12]:
import sqlite3
print("SQLite3 module imported successfully.")
print(f"SQLite version: {sqlite3.sqlite_version}")

SQLite3 module imported successfully.
SQLite version: 3.45.3

### Step 2: Connect to a SQLite database

In [13]:
connection = sqlite3.connect('example.db')
print(connection)
print("Database connection established.")

<sqlite3.Connection object at 0x000001AE97E2A020>
Database connection established.

### Step 3: Create a Cursor Object

Simple Defination: A cursor is an object that allows you to execute SQL commands and fetch results from a database.

In [14]:
cursor=connection.cursor()
print(cursor)
print("Cursor created successfully.")

<sqlite3.Cursor object at 0x000001AE980296C0>
Cursor created successfully.

### Step 4: Create a Table

Creating EmployeeS Table

In [15]:
cursor.execute('''CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, name TEXT, age INTEGER,department TEXT)''')
connection.commit()
print("Table created successfully.")

Table created successfully.

Why Connection.commit()?
Because SQLite is a file-based database, any changes made to the database are not immediately visible to other users or processes. To ensure that all changes are visible, you need to commit the transaction.

### Step 5: Insert Data into the Table

Add Record to the Table

In [16]:
cursor.execute('''INSERT INTO users(name, age, department) VALUES ('Alice', 30, 'HR')''')
# Insert multiple records
cursor.executemany('''INSERT INTO users(name, age, department) VALUES (?,?,?)''', [
    ('Bob', 25, 'Engineering'),
    ('Charlie', 28, 'Marketing'),
    ('David', 35, 'Finance')
])
connection.commit()
print("Records inserted successfully.")

Records inserted successfully.

### Step 6: Query the Table

Fetch All Records

In [19]:
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()
print("Fetched records:")
print("-" * 35)
for row in rows:
    print(row)

Fetched records:
-----------------------------------
(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Marketing')
(4, 'David', 35, 'Finance')

What does fetchall() do?

When you execute a SELECT query, the cursor object is positioned before the first row of the result set. The fetchall() method retrieves all remaining rows from the result set as a list of tuples.

### Step 7: Update Data in the Table

In [23]:
# update the age of alice to 31 and david to 36
cursor.execute('''UPDATE users SET age = ? WHERE name = ?''', (31, 'Alice'))
cursor.execute('''UPDATE users SET age = ? WHERE name = ?''', (36, 'David'))
connection.commit()
print("Records updated successfully.")
# Verify the update
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()
print("Fetched records:")
print("-" * 35)
for row in rows:
    print(row)

Records updated successfully.
Fetched records:
-----------------------------------
(1, 'Alice', 31, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Marketing')
(4, 'David', 36, 'Finance')

### Step 8: Delete Data from the Table

In [24]:
cursor.execute('''DELETE FROM users WHERE name = ?''', ('Charlie',))
connection.commit()
print("Record deleted successfully.")
# Verify the deletion
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()
print("Fetched records:")
print("-" * 35)
for row in rows:
    print(row)

Record deleted successfully.
Fetched records:
-----------------------------------
(1, 'Alice', 31, 'HR')
(2, 'Bob', 25, 'Engineering')
(4, 'David', 36, 'Finance')

### Step 9: Connection close

In [57]:
connection.close()
print("Database connection closed.")

Database connection closed.

### Step 10: Bulk Insert Data into the Table

Sales Data Project-Complete Example

In [1]:
import sqlite3

# First, close any existing connections
# If you have a previous connection open, close it first
try:
    connection.close()
except:
    pass

# Create a fresh connection
connection = sqlite3.connect("company.db")
cursor = connection.cursor()

# Drop the existing table if it has the wrong schema
cursor.execute('DROP TABLE IF EXISTS sales')

# Create table with correct schema
cursor.execute('''
CREATE TABLE sales (
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT)
''')

# Prepare bulk data (list of tuples)
bulk_data = [
    ('2023-01-01', 'Product A', 100, 'North'),
    ('2023-01-02', 'Product B', 150, 'South'),
    ('2023-01-03', 'Product C', 200, 'East'),
    ('2023-01-04', 'Product D', 250, 'West'),
]

# Bulk insert data
cursor.executemany('''INSERT INTO sales (date, product, sales, region) VALUES (?,?,?,?)''', bulk_data)
connection.commit()

print("Data inserted successfully!")

# Close connection
connection.close()

Data inserted successfully!